:root {
  --light-green-background: #D2E6E4;
  --off-white-background: #F9F9F9;
  --pure-white-background: #FFFFFF;
  --dark-green: #0B7077;
  --off-black-text: #4D4D4D;
  --dark-gray-text: #818C96;
  --gray-text: #696984;
  --light-gray-border: #C4C4C4;
  --orange: #FD661F;
  --link-color: #30B0FF;
  --dark-blue: #1e3a8a;
}

.afacad-font {
  font-family: 'Afacad', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.raleway-font {
  font-family: 'Raleway', sans-serif;
}

body {
  background: var(--off-white-background);
  margin: 0;
}

.light-green-bg {
  background: var(--light-green-background);
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  --bs-navbar-active-color: var(--orange);
  --bs-navbar-hover-color: var(--dark-green);
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18;
  font-weight: 500;
}

.nav-links {
  margin-left: -50px;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.hover {
  font-weight: bold;
}

.name-home {
  color: var(--dark-green);
  text-decoration: none;
  font-size: 24;
  font-weight: 350;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 14;
}

.mail-to {
  color: var(--dark-green);
  text-decoration: none;
}