:root {
  --light-green-background: #D2E6E4;
  --off-white-background: #F9F9F9;
  --pure-white-background: #FFFFFF;
  --dark-green: #0B7077;
  --dark-gray-text: #4D4D4D;
  --light-gray-text: #818C96;
  --gray-text: #696984;
  --light-gray-border: #C4C4C4;
  --orange: #FD661F;
  --link-color: #30B0FF;
  --dark-blue: #1e3a8a;
}

.afacad-font {
  font-family: 'Afacad', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.raleway-font {
  font-family: 'Raleway', sans-serif;
}

body {
  background: var(--off-white-background);
  margin: 0;
}

.light-green-bg {
  background: var(--light-green-background);
}

.off-white-bg {
  background: var(--off-white-background);
}

.dark-green-bg {
  background: var(--dark-green);
}

.dark-green-text {
  color: var(--dark-green);
}

.orange-text {
  color: var(--orange);
}

.dark-gray-text {
  color: var(--dark-gray-text);
}

.link-text {
  color: var(--link-color);
  text-decoration: none;
}

.white-text {
  color: white;
}

.bold-font {
  font-weight: bold;
}

.orange-button {
  background-color: var(--orange); 
  color: white;
}

.green-button {
  background-color: var(--dark-green);
  color: white;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  --bs-navbar-active-color: var(--orange);
  --bs-navbar-hover-color: var(--dark-green);
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18;
  font-weight: 500;
}

.nav-links {
  margin-left: -50px;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.hover {
  font-weight: bold;
}

.name-home {
  color: var(--dark-green);
  text-decoration: none;
  font-size: 24;
  font-weight: 350;
  margin-top: 10px;
  margin-bottom: 10px;
}

.written-by-badge {
  background-color: white; 
  color: black; 
  font-weight: 450; 
  font-size: 14px;
}

.canal-img {
  margin-left: -30;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.cefr-toggle-btn {
  background-color: var(--off-white-background);
  color: var(--link-color);
  border: none;
}

.cefr-toggle-btn:hover {
  background: var(--off-white-background);
  color: var(--dark-blue);
}

.cefr-toggle-btn:active,
.cefr-toggle-btn.active,
.cefr-toggle-btn[aria-expanded="true"] {
  background-color: var(--dark-green) !important;
  color: white !important;
}

.cefr-toggle-btn:focus,
.cefr-toggle-btn:focus-visible {
  box-shadow: none;
}

.cefr-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cefr-collapse {
  width: 50rem;
  margin-top: 30px;
  text-align: center;
  justify-content: space-between;
  border-radius: 15px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--light-gray-border);
  outline-offset: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.cefr-span {
  display: block;
  max-width: 45rem;
  margin: 0 auto;
  padding: 1.5rem;
  background: var(--light-green-background);
  border-radius: 15px;
  border: 1px solid var(--dark-green);
}

.circle-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background: var(--dark-green);
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.centered-row {
  width: 80%; /* Needs a width less than 100% */
  margin-left: auto;
  margin-right: auto;
}

.readers-width {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.image-border-radius {
  border-radius: 15px;
}

.large-text-size {
  font-size: large;
}

.footer {
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 14;
}

.mail-to {
  color: var(--dark-green);
  text-decoration: none;
}