:root {
  --light-green-background: #D2E6E4;
  --off-white-background: #F9F9F9;
  --pure-white-background: #FFFFFF;
  --dark-green: #0B7077;
  --off-black-text: #4D4D4D;
  --dark-gray-text: #818C96;
  --gray-text: #696984;
  --light-gray-border: #C4C4C4;
  --orange: #FD661F;
  --link-color: #30B0FF;

  --bs-body-font-family: 'Afacad', sans-serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--off-white-background);
  font-family: Arial, Helvetica, sans-serif;
}

#navbar div {
  background: var(--light-green-background);
}

.name-home {
  color: var(--orange);
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}
