:root {
  --light-green-background: #D2E6E4;
  --off-white-background: #F9F9F9;
  --pure-white-background: #FFFFFF;
  --dark-green: #0B7077;
  --dark-gray-text: #4D4D4D;
  --light-gray-text: #818C96;
  --gray-text: #696984;
  --light-gray-border: #C4C4C4;
  --orange: #FD661F;
  --link-color: #30B0FF;
  --dark-blue: #1e3a8a;
}

.afacad-font {
  font-family: 'Afacad', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.raleway-font {
  font-family: 'Raleway', sans-serif;
}

body {
  background: var(--off-white-background);
  margin: 0;
}

.light-green-bg {
  background: var(--light-green-background);
}

.off-white-bg {
  background: var(--off-white-background);
}

.dark-green-bg {
  background: var(--dark-green);
}

.dark-green-text {
  color: var(--dark-green);
}

.orange-text {
  color: var(--orange);
}

.dark-gray-text {
  color: var(--dark-gray-text);
}

.link-text {
  color: var(--link-color);
}

.white-text {
  color: white;
}

.bold-font {
  font-weight: bold;
}

.orange-button {
  background-color: var(--orange); 
  color: white;
}

.green-button {
  background-color: var(--dark-green);
  color: white;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  --bs-navbar-active-color: var(--orange);
  --bs-navbar-hover-color: var(--dark-green);
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18;
  font-weight: 500;
}

.nav-links {
  margin-left: -50px;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.hover {
  font-weight: bold;
}

.name-home {
  color: var(--dark-green);
  text-decoration: none;
  font-size: 24;
  font-weight: 350;
  margin-top: 10px;
  margin-bottom: 10px;
}

.written-by-badge {
  background-color: white; 
  color: black; 
  font-weight: 450; 
  font-size: 14px;
}

.canal-img {
  margin-left: -30;
}

.align-center {
  text-align: center;
}

.link-hover:hover {
  background: var(--off-white-background);
  color: var(--dark-blue);
}

.cefr-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cefr-collapse {
  width: 50rem;
  margin-top: 20px;
  text-align: center;
  justify-content: space-between;
  border-radius: 15px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--light-gray-border);
  outline-offset: 10px;
}

.footer {
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 14;
}

.mail-to {
  color: var(--dark-green);
  text-decoration: none;
}